body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
  }
  
  header h1 {
    text-align: center;
  }
  .yo{
    margin-left: 30px;
    float: left;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    bottom: 19px;
    font-style:italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  nav {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(223, 223, 19);
    padding: 17px;
    color: black;
    position: sticky;
    top: 0px;
    z-index: 1;
    border-bottom: 5px solid red;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 22px;
    justify-content: right;
    margin-right: 50px;
  }
  
  nav a {
    font-weight:300;
    text-decoration: none;
    color:black;
    padding: 40px;
  }
  a:hover{
    color: red;
  }

  

  .anima{
   position: relative;
   bottom: 10px;
   left: 420px;

  }
  .logo{
    position: relative;
    height: 200px;
    width: 220px;
    bottom: 670px;
    left: 250px;
  }
  .FFC{
    font-family: 'Sedgwick Ave', cursive;
    position: relative;
    color:white;
    font-weight: bold;
    font-style: oblique;
    font-size: 50px;
    bottom: 650px;
    right: 45px;
  }
  .jj{
    position: relative;
    left: 140px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 550px;
    font-weight:1;
    font-size: 20px;
    padding-top: 13px;
  }
  .heading{
    float: left;
  }
  .btn{
    width: 140px;
    height: 40px;
    font-weight: bold;
    margin-left: 330px;
    background-color: rgb(223, 223, 19);
    border-radius: 20px;
  }
  .btn:hover{
    background-color: white;
  }
  .yolo{
    margin-top: 0px;
    background-color:#271915
  
  }
  main {
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    color: white;
    background-color:#271915;
    font-size: 20px;
    
  }
  .about{
    width: 1200px;
    height: 500px;
    background-color: rgb(223, 223, 19);
    padding-top: 80px;
    color: black;
    margin: auto;
    margin-top: 150px;
    box-shadow: -40px 30px 20px rgb(193, 173, 173);
  }
  .about h1{
    color: black;
    position: relative;
    left: 60px;
    top: 40px;
    font-family: 'Sedgwick Ave', cursive;
    text-decoration: underline;
  }
  .about p{
    padding: 20px;
    line-height: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
  }

  .box{
    height: 240px;
    width: 170px;
    background-color: rgb(223, 223, 19);
    padding:50px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-block;
    box-shadow: -40px 30px 20px  rgb(0,0,0,1);
  }
  .imgs{
    position: relative;
    height: 220px;
    width: 220px;
    bottom: 20px;
    right: 27px
  }
  #menu{
    margin-top: 150px;
    color: black;
    text-align: center;
    font-size: large;
  }

  
  #contact{
    margin-top: 100px;
    text-align: center;
  }
 h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 40px;
    color: white;
    font-family: 'Sedgwick Ave', cursive;
    font-size: 50px;
  }

  
  footer {
    background-color: rgb(210, 210, 199);;
    color: black;
    text-align: center;
    padding: 10px;
  }
  footer p{
    position: relative;
    bottom: 7px;
  }

  