body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
  }
  
  header h1 {
    text-align: center;
  }
  .yo{
    margin-left: 30px;
    float: left;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    bottom: 19px;
    font-style:italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  nav {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(223, 223, 19);
    padding: 17px;
    color: black;
    position: sticky;
    top: 0px;
    z-index: 1;
    border-bottom: 5px solid red;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex ;
    font-size: 22px;
    justify-content: right;
    margin-right: 50px;
  }
  
  nav a {
    font-weight:300;
    text-decoration: none;
    color:black;
    padding: 40px;
  }
  a:hover{
    color: red;
  }

  @media screen and (max-width:1000px) {
    .yo{
      position: relative;
      bottom: 32px;
      right: 27px;
    }
    nav{
      padding: 29px;
    }
    nav ul{
      display: none;
    }
  }

  .anima{
    width: 1100px;
    height: 770px;
   position: relative;
   bottom: 30px;
   left: 460px;

  }
  .logo{
    position: relative;
    height: 200px;
    width: 220px;
    bottom: 670px;
    left: 250px;
  }
  .FFC{
    font-family: 'Sedgwick Ave', cursive;
    position: relative;
    color:white;
    font-weight: bold;
    font-style: oblique;
    font-size: 50px;
    bottom: 700px;
    left: 200px;
  }
  .jj{
    position: relative;
    right: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 550px;
    font-weight:1;
    font-size: 20px;
    padding-top: 13px;
  }
  .heading{
    float: left;
    width: 50%;
  }
  .btn{
    width: 140px;
    height: 40px;
    font-weight: bold;
    margin-left: 90px;
    background-color: rgb(223, 223, 19);
    border-radius: 20px;
  }
  .btn:hover{
    background-color: white;
  }
  .yolo{
    margin-top: 0px;
    background-color:#271915
  
  }

  @media only screen and (max-width:530px){
    .anima{
    width: 380px;
    height: 660px;
     position: relative;
     left: 9px;
     top: 90px;
     overflow: hidden;
     }
     .logo{
      position:relative;
      height: 130px;
      width: 130px;
      bottom: 570px;
      left: 130px;
    }
    .FFC{
      padding-top: 10px;
      font-family: 'Sedgwick Ave', cursive;
      position: relative;
      color:white;
      font-weight: bold;
      font-style: oblique;
      font-size: 25px;
      bottom: 610px;
      left: 110px;
    }
    .jj{
      position: relative;
      right: 60px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      width: 300px;
      font-weight:1;
      font-size: 13px;
      padding-top: 7px;
      padding-bottom: 7px;
      text-align: center;
    }
   
    .btn{
      margin-top: 10px;
      width: 100px;
      height: 30px;
      font-weight: normal;
      margin-left: 33px;
      background-color: rgb(223, 223, 19);
      border-radius: 20px;
    }
    .btn:hover{
      background-color: white;
    }
    .yolo{
      margin-top: 0px;
      background-color:#271915
    
    }
  }
  @media only screen and (min-width:530px) and (max-width:900px){
    .anima{
      width: 580px;
      height: 760px;
       position: relative;
       left: 92px;
       top: 55px;
       }
     .logo{
      position:relative;
      height: 200px;
      width: 200px;
      bottom: 750px;
      left: 285px;
    }
    .FFC{
      padding-top: 10px;
      font-family: 'Sedgwick Ave', cursive;
      position: relative;
      color:white;
      font-weight: bold;
      font-style: oblique;
      font-size: 35px;
      bottom: 810px;
      left: 267px;
    }
    .jj{
      position: relative;
      right: 40px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      width: 300px;
      font-weight:1;
      font-size: 13px;
      padding-top: 0px;
      padding-bottom: 0px;
      text-align: center;
    }
   
    .btn{
      margin-top: 10px;
      width: 100px;
      height: 30px;
      font-weight: normal;
      margin-left: 60px;
      background-color: rgb(223, 223, 19);
      border-radius: 20px;
    }
    .btn:hover{
      background-color: white;
    }
    .yolo{
      margin-top: 0px;
      background-color:#271915;
    }
  }

  main {
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    color: white;
    background-color:#271915;
    font-size: 20px;
    
  }
  .about{
    width: 1200px;
    height: 550px;
    background-color: rgb(223, 223, 19);
    padding-top: 40px;
    color: black;
    margin: auto;
    margin-top: 150px;
    box-shadow: -40px 30px 20px rgb(193, 173, 173);
  }
  .about h1{
    color: black;
    position: relative;
    margin-top: 110px;
    right: 110px;
    padding-bottom: 20px;
    font-family: 'Sedgwick Ave', cursive;
    text-decoration: underline;
  }
  .about p{
    position: relative;
    bottom: 70px;
    padding: 40px;
    line-height: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
  }

  @media only screen and (max-width:530px){
    
    .about{
      width: 320px;
      height: 700px;
      background-color: rgb(223, 223, 19);
      padding-top: 8px;
      color: black;
      margin: auto;
      position: relative;
      right:5px;
      box-shadow: -40px 30px 20px rgb(193, 173, 173);
    }
    .about h1{
      text-align: center;
      color: black;
      position:relative;
      bottom: 80px;
      right: 80px;
      white-space: nowrap;
    }
    .about p{
      font-size: medium;
      position: relative;
      bottom: 165px;
      line-height: 20px;
      padding: 20px;
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-style: italic;
    }
  }
  @media only screen and (min-width:530px) and (max-width:900px){
    
    .about{
      width: 520px;
      height: 600px;
      background-color: rgb(223, 223, 19);
      padding-top: 8px;
      color: black;
      position: relative;
      right:5px;
      box-shadow: -40px 30px 20px rgb(193, 173, 173);
    }
    .about h1{
      text-align: center;
      color: black;
      position:relative;
      bottom: 80px;
      white-space: nowrap;
     
    }
    .about p{
      position: relative;
      bottom: 180px;
      font-size: medium;
      
    }
  }
  .box{
    height: 240px;
    width: 170px;
    background-color: rgb(223, 223, 19);
    padding:50px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-block;
    box-shadow: -40px 30px 20px  rgb(0,0,0,1);
  }
  .imgs{
    position: relative;
    height: 220px;
    width: 220px;
    bottom: 20px;
    right: 27px
  }
  #menu{
    margin-top: 150px;
    color: black;
    text-align: center;
    font-size: large;
  }

  @media only screen and (min-width:530){
    .box{
      height: 240px;
      width: 170px;
      background-color: rgb(223, 223, 19);
      padding:50px;
      margin-left: 20px;
      margin-bottom: 20px;
      display: inline-block;
      box-shadow: -40px 30px 20px  rgb(0,0,0,1);
    }
    .imgs{
      position: relative;
      height: 220px;
      width: 220px;
      bottom: 20px;
      right: 27px
    }
    #menu{
      margin-top: 150px;
      color: black;
      text-align: center;
      font-size: large;
    }
  }

  @media only screen and (max-width:530px){
    #menu{
      margin-top: 100px;
      color: black;
      text-align: center;
      font-size: large;
    }
    .box{
      height: 150px;
      width: 50px;
      background-color: rgb(223, 223, 19);
      display: inline-block;
      font-size: 12px;
      padding:50px;
      margin: auto;
      margin-bottom: 20px;
      white-space: nowrap;
      box-shadow: 0px 0px 0px  rgb(0,0,0,0);
    }
    .box b{
      position: relative;
      right: 5px;
    }

    .imgs{
      position: relative;
      height: 140px;
      width: 130px;
      right: 40px;
      bottom: 30px;
      
    }
  }
  @media only screen and (min-width:530px) and (max-width:900px){
    #menu{
      margin-top: 100px;
      color: black;
      text-align: center;
      font-size: large;
    }
    .box{
      height: 150px;
      width: 50px;
      background-color: rgb(223, 223, 19);
      display: inline-block;
      font-size: 12px;
      padding:50px;
      margin: auto;
      margin-bottom: 20px;
      white-space: nowrap;
      box-shadow: 0px 0px 0px  rgb(0,0,0,0);
    }
    .box b{
      position: relative;
      right: 5px;
    }

    .imgs{
      position: relative;
      height: 140px;
      width: 130px;
      right: 40px;
      bottom: 30px;
      
    }
  }
  
  #contact{
    margin-top: 100px;
    text-align: center;
  }
 h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 40px;
    color: white;
    font-family: 'Sedgwick Ave', cursive;
    font-size: 50px;
  }

  @media only screen and (max-width:530px){
    h2 {
      text-align: center;
      text-decoration: underline;
      margin-bottom: 40px;
      color: white;
      font-family: 'Sedgwick Ave', cursive;
      font-size: 40px;
    }
  }

  footer {
    background-color: rgb(210, 210, 199);
    color: black;
    text-align: center;
    padding: 10px;
  }
  footer p{
    position: relative;
    bottom: 7px;
  }

  